body{
    background-color: rgb(55, 90, 103);
  
  }
  
  .optimize-banner-p13n {
      background-color: #009088;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      padding: 24px 0;
      position: relative;
      text-align: center;
      z-index: 5000000
  }
  

  #block-stanfordonline-breadcrumbs {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 10px;
  }
  p{
    font-size: large;
    font-weight: 400;
  }
    
  .breadcrumb{
    background-color: #e2eeff;
    padding:10px;
    border-radius: 10px;
  }
  .region--main {
      background: #f4f4f4;
      font-size: 20px;
      line-height: 1.5;
      color: #2e2d29;
      position: relative;
  }
  
    .subject{
      background-color: #ffffff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 500px;
    }
    .units{
      background-color: #31d607;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 500px;
      align-items: center;
      text-align: center;
    }
  .page-title{
    align-items: center;
  }
  h2{
    transform: skew(-10deg, 0);
  font-family: Arial, sans-serif;
    text-align: center;
    color: #ff4040;
  }
  
  .container{
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  a:link{
    color: brown;
  }
  a:visited{
    color: #003937;
  }
  a:hover{
    color: rgb(255, 11, 133);
  }
  a:active{
    color: aqua;
  }
  .card-header{
    color: #ff00ae;
    font-weight: bold;
    font-size: 21px;
  }
  
  .col-sm{
    display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
  }
  .row{
        padding-bottom: 10px;
  }    
  
  li{
    text-align: left;
    font-size: 20px;
  }
  
  
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  .h-100 button{
    background-color: #8ca8cf;
    size: 20px;
    width: 90px;
  }